body {
  margin: 0;
  padding: 0;
  background-image: url("/static/images/login-bg.png");
  background-size: cover;
  background-position: center;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  height: 100vh;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  font-weight: bold;
  margin: 40px 0 66px;
  text-align: center;
  text-transform: uppercase;
}



/* Form Modification */
.form-container {
    background: rgba(0, 0, 0, 0.7); /* Black background with 0.5 opacity */
    padding: 20px; /* Add some padding */
    border-radius: 15px; /* Rounded corners */
    max-width: 500px;
    margin: auto;

}

.form-label {
    font-size: 18px;
}

.form-control {
    background-color: transparent; /* Make the background transparent */
    border: none; /* Remove all borders */
    border-bottom: 1px solid #ffffff; /* Add a white bottom border */
    border-radius: 15px; /* Remove the border radius to only show the bottom border */
    color: #ffffff; /* Set text color to white */
    max-width: 500px;
}

.form-control:focus {
    background-color: #ffffff; /* Change the background to white when the input is focused */
    color: #000000; /* Change the text color to black when the input is focused */
    border: 2px solid blue; /* Remove all borders */
    border-radius: 15px; /* Maintain border radius when the input is focused */
    outline: none; /* This is to remove the default outline that some browsers might add */
    box-shadow: none; /* This is to remove the default shawdow that some browsers might add */
    font-weight: bold;
}

.btn-outline-primary {
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
}

.input-container {
  position: relative;
  display: flex;
}

.input-wrapper, .form-control {
  flex-grow: 1;
  border-radius: 15px;
}

.btn-wrapper .btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
}

footer{
margin-top: 50px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .form-container,
    .form-control {
        max-width: 90%;
    }
    h1 {
        font-size: 38px;
    }
}